img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

.logo img {
 width: 132px;
 height: 67px;  
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #AAAAAA;
  font-size: 0.75em;
}
table tr:nth-child(even) {
  background: #CCCCCC;
}
table thead {
  background: #888888;
  background: -moz-linear-gradient(top, #a6a6a6 0%, #949494 66%, #888888 100%);
  background: -webkit-linear-gradient(top, #a6a6a6 0%, #949494 66%, #888888 100%);
  background: linear-gradient(to bottom, #a6a6a6 0%, #949494 66%, #888888 100%);
  border-bottom: 2px solid #444444;
}
table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  border-left: 2px solid #D0E4F5;
}
table thead th:first-child {
  border-left: none;
}

table tfoot td {
  font-size: 14px;
}
table tfoot .links {
  text-align: right;
}
table tfoot .links a{
  display: inline-block;
  background: #888888;
  color: #000000;
  padding: 2px 8px;
  border-radius: 5px;
}
